In [33]:
import pandas as pd
import datetime
from pathlib import Path

In [34]:
print("Start: " + str(datetime.datetime.now().strftime("%I:%m %p")))

Start: 07:02 PM

In [35]:
directory = Path.cwd()

In [36]:
directory

WindowsPath('C:/Users/Brian/PycharmProjects/notebooks')

In [37]:
url = "https://www.boxofficemojo.com/weekend/"

In [51]:
year = input("What year do you want to query on? ")

In [52]:
week = input("What week do you want to query on? ")

In [53]:
timeperiod = year +'W'+ week
print(timeperiod)

2026W04

In [54]:
url = "https://www.boxofficemojo.com/weekend/"+timeperiod+"/"

In [55]:
print(url)

https://www.boxofficemojo.com/weekend/2026W04/

In [56]:
df = pd.read_html(url)[0]
df.head(5)

,Rank,LW,Release,Gross,%± LW,Theaters,Change,Average,Total Gross,Weeks,Distributor,New This Week,Estimated
0,1,-,Mercy,"$10,809,178",-,3468,-,"$3,116","$10,809,178",1,Amazon MGM Studios,True,False
1,2,1,Avatar: Fire and Ash,"$6,407,504",-55.8%,3150,-150,"$2,034","$377,900,089",6,20th Century Studios,False,False
2,3,3,Zootopia 2,"$5,300,108",-42.2%,2930,-170,"$1,808","$401,027,954",9,Walt Disney Studios Motion Pictures,False,False
3,4,4,The Housemaid,"$3,942,459",-53.9%,3007,-94,"$1,311","$115,194,302",6,Lionsgate,False,False
4,5,5,Marty Supreme,"$3,546,859",-36.2%,2021,-6,"$1,755","$86,299,297",6,A24,False,False

In [57]:
# returns current date and time
dt_now = datetime.datetime.now()

df['Datestamp'] = dt_now

In [58]:
print(df.columns)

Index(['Rank', 'LW', 'Release', 'Gross', '%± LW', 'Theaters', 'Change',
       'Average', 'Total Gross', 'Weeks', 'Distributor', 'New This Week',
       'Estimated', 'Datestamp'],
      dtype='str')

In [59]:
print(df[['Rank','Release']])

    Rank                                      Release
0      1                                        Mercy
1      2                         Avatar: Fire and Ash
2      3                                   Zootopia 2
3      4                                The Housemaid
4      5                                Marty Supreme
..   ...                                          ...
66    67          Night of the Juggler2025 Re-release
67    68                                        Seeds
68    69                                Young Mothers
69    70  The Business of Fancydancing2025 Re-release
70    71                           Mistress Dispeller

[71 rows x 2 columns]

In [61]:
#Location_for_file_export1 = r'C:\Users\Brian\OneDrive\Desktop\Box_Office1.csv'

#df.to_csv(Location_for_file_export, index=False)

Location_for_file_export2 = r'C:\Users\Brian\PycharmProjects\notebooks\data_output\Box_Office1.xlsx'
df.to_excel(Location_for_file_export2, index=False)

print("End: " + str(datetime.datetime.now().strftime("%I:%m %p")))

End: 07:02 PM